In [1]:
import pandas as pd

In [8]:
people = {
    'first': ['Ahsan', 'Jane', 'John'],
    'last': ['Virani', 'Doe', 'Doe'],
    'email': ['ahsan.virani08@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

In [10]:
df = pd.DataFrame(people)

In [11]:
df

   first    last                     email
0  Ahsan  Virani  ahsan.virani08@gmail.com
1   Jane     Doe         JaneDoe@gmail.com
2   John     Doe         JohnDoe@gmail.com

     last
0  Virani
1     Doe
2     Doe